.str_land {
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ul_land {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2.5;
    margin-right: 60px;
    text-align: left;

}

.vector_image {
    margin-top: 20px;
    height: 428px;
    width: 593px;
    padding-left: 40px;

}

.title {
    font-family: Mulish-bold;
    font-size: 48px;
    width: 480px;
    line-height: 1.6;

}


p{
    margin-top: 10px;
    font-family: Mulish;
    font-size: 21px;
    width: 450px;
    line-height: 1.7;
    color: #1F1534;
    opacity: 0.5;
}

.land2_but {
    margin-top: 20px;
    font-family: Mulish-bold;
    font-size: 18px;
    border: solid #458FF6;
    border-radius: 55px;
    width: 140px;
    text-decoration: none;
    text-align: center;
    color: #458FF6;
}